
.button-styleup {
    -fx-background-color:	rgb(255,127,80);/* couleur de fond */
    -fx-text-fill: white; /* couleur du texte */
    -fx-font-size: 7pt; /* taille de la police */
    -fx-padding: 10px 20px; /* marge interne */
}
.button-style {
    -fx-background-color:rgb(135,206,250);/* couleur de fond */
    -fx-text-fill: white; /* couleur du texte */
    -fx-font-size: 7pt; /* taille de la police */
    -fx-padding: 10px 20px; /* marge interne */
}
.button-style2 {
    -fx-background-color: rgb(225, 173, 1);/* couleur de fond */
    -fx-text-fill: white; /* couleur du texte */
    -fx-font-size: 10pt; /* taille de la police */
    -fx-padding: 10px 20px; /* marge interne */
}
.button-stylelogout {
    -fx-background-color: red;/* couleur de fond */
    -fx-text-fill: white; /* couleur du texte */
    -fx-font-size: 7pt; /* taille de la police */
    -fx-padding: 10px 20px; /* marge interne */
}
.transparent {
    -fx-background-color: rgba(0,0,0,0) ;/* couleur de fond */
    
}
.border {
    -fx-border-color: 	rgb(135,206,250);/* couleur de fond */
    -fx-border-width: 1.5;/* couleur de fond */
    
    
}
.right-side-border {
    -fx-border-color: rgb(135,206,250);/* couleur de fond */
    -fx-border-width: 0 1.5 0 0;/* couleur de fond */
    
    
}
.myLabel {
    -fx-text-fill: gray;
    -fx-font-size: 14px;
    -fx-font-style: Bold;
  }